 .heading-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 34px 0px 44px 0px;
    
 }
 .divider-heading{
    width: 100%;
    height: 2px;
    background-color: rgba(23, 94, 160, 0.25)
 }
.heading-main h1{
    color: #F37832;
    width: fit-content;
text-align: center;
 font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 19.2px; /* 80% */
text-wrap: nowrap;
margin: 0px 12px;
}